#carrossel-container {
  margin-top: 1.25rem;
  justify-self: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 95%;
  max-width: 73.75rem;
  height: 20.75rem;
  overflow: hidden;
  flex-shrink: 0;
}

.seta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.volta {
  left: 0;
}

.frente {
  right: 0;
}

.seta svg {
  width: 2.68181rem;
  height: 2.5rem;
  flex-shrink: 0;
}

/* Área dos slides */
#slides-container {
  display: flex;
  margin: 0 auto;
  width: 90%;
  max-width: 68.38638rem;
  height: 18.75rem;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  width: 300%;
  transition: opacity 0.5s ease-in-out;
}

.slide {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

/*FORMATAÇÃO DO SLIDE 1 DO CARROSSEL*/
.slide1 {
  display: grid;
  position: relative;
  flex-shrink: 0;
  background: #6bb7cb;
}
#tituloslide1,
#textoslide1,
#tituloslide2,
#textoslide2,
#tituloslide3,
#textoslide3 {
  z-index: 999;
}
#tituloslide1 {
  position: absolute;
  top: 1.5rem;
  right: 17.5%;
  color: #063643;
}

#textoslide1 {
  position: absolute;
  right: 24.97%;
  top: 4.88rem;
  color: #0f637a;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.025rem;
}

#ciringa {
  position: absolute;
  left: 7rem;
  top: 5.81rem;
  width: 9.375rem;
  height: 9.375rem;
  flex-shrink: 0;
}

#pata1 {
  position: absolute;
  top: 0.75rem;
  left: 1.31rem;
  width: 6.25rem;
  height: 6.01806rem;
  flex-shrink: 0;
}

#pata2 {
  position: absolute;
  left: 16rem;
  top: 8.25rem;
  width: 6.25rem;
  height: 6.01806rem;
  flex-shrink: 0;
}

#gato1 {
  position: absolute;
  top: 6.25rem;
  right: 10.11%;
  width: 7.5rem;
  height: 12.22931rem;
  flex-shrink: 0;
}

.btn-slide1 {
  position: absolute;
  border-radius: 4px;
  background: #f8f8ff;
  color: #063643;
  top: 9.94rem;
  right: 27.53%;
  transition: background-color 0.3s ease;
}
.btn-slide1:hover {
  background: #063643;
  color: #f8f8ff;
}

.btn-slide2:hover,
.btn-slide3:hover {
  background: #7ccbe0;
  color: #063643;
}
/* FORMATAÇÃO DO SLIDE 2 DO CARROSSEL */
.slide2 {
  position: relative;
  background-color: #063643;
  color: white;
  background-image: url("/img/carrossel/fundo2.png");
}
#tituloslide2 {
  position: absolute;
  top: 1.5rem;
  left: 4rem;
  color: #fff;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.035rem;
}
#textoslide2 {
  position: absolute;
  left: 4rem;
  top: 5.56rem;
  max-width: 32.4375rem;
  color: #fafdff;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.0225rem;
}
.btn-slide2 {
  display: flex;
  width: 17.6875rem;
  padding: 0.625rem 0.3125rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  position: absolute;
  top: 12.94rem;
  left: 5.56rem;

  border-radius: 0.25rem;
  background: #f8f8ff;
  color: #063643;

  width: 100%;
  max-width: 17.6875rem;
  height: auto;
  transition: background-color 0.3s ease;
}
#cachorrofeliz {
  position: absolute;
  top: 5.56rem;
  left: 58.88%;
  width: 12.5rem;
  height: 18.622rem;
  flex-shrink: 0;
}
#gato_lado {
  position: absolute;
  left: 86.74%;
  right: -0.31rem;
  width: 9.375rem;
  height: 19.625rem;
  flex-shrink: 0;
}
/* Formatação do slide 3 */
.slide3 {
  position: relative;
  background-color: #f8f8ff;
  background-image: url("/img/carrossel/fundo3.png");
  background-repeat: no-repeat;
  background-position: right;
}
#tituloslide3 {
  position: absolute;
  left: 4rem;
  top: 1.5rem;
  color: #063643;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.035rem;
  z-index: 1;
}

#textoslide3 {
  position: absolute;
  top: 4.88rem;
  left: 4rem;
  width: 37.25rem;
  color: #063643;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.025rem;
  z-index: 1;
}

.btn-slide3 {
  position: absolute;
  top: 12.25rem;
  left: 5.81rem;
  border-radius: 0.25rem;
  background: #063643;
  color: #f8f8ff;
  transition: background-color 0.3s ease;
}

#guarda_chuva {
  position: absolute;
  right: 54.13rem;
  bottom: 6.49rem;
  width: 12.5rem;
  height: 12.5rem;
  flex-shrink: 0;
  z-index: 0;
}

#gato_banho {
  position: absolute;
  left: 51.56rem;
  width: 15.5625rem;
  height: 18.75rem;
  flex-shrink: 0;
}

.cta {
  padding: 0.625rem 1.25rem;
  background-color: white;
  border: none;
  border-radius: 0.3125rem;
  font-weight: bold;
  cursor: pointer;
}

.manual-navigation {
  display: flex;
  gap: 1.53125rem;
  justify-content: center;
  align-items: end;
  margin-top: 0.75rem;
}

.manual-btn {
  width: 1.27rem;
  height: 1.25rem;
  flex-shrink: 0;
  background-color: #a3a3a3;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.manual-btn.active {
  background-color: #6bb7cb;
}

#guarda_chuva {
  display: none;
}

body.slide-2 #guarda_chuva {
  display: block;
}
@media (max-width: 1050px) {
  #pata2,
  #guarda_chuva {
    display: none;
  }
}

@media (max-width: 800px) {
  #ciringa,
  #textoslide3 {
    display: none;
  }
  #tituloslide3 {
    left: 5.81rem;
    width: 50%;
    text-align: start;
    display: grid;
  }
}

@media (max-width: 720px) {
  #pata1,
  #cachorrofeliz {
    display: none;
  }
  #tituloslide1,
  #textoslide1,
  #tituloslide2,
  #textoslide2,
  #tituloslide3,
  #textoslide3,
  .btn-slide1,
  .btn-slide2,
  .btn-slide3 {
    flex-wrap: nowrap;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    right: auto;
  }
  #carrossel-container h1 {
    font-size: 1.5rem;
  }
  #tituloslide1,
  #textoslide1,
  #tituloslide2,
  #textoslide2,
  #tituloslide3,
  #textoslide3 {
    display: flex;
    width: 95%;
    justify-content: center;
  }
  #textoslide3 {
    display: none;
  }
}
@media (max-width: 450px) {
  #carrossel-container {
    display: none;
  }
}
