#nossos-profissionais {
  position: relative;
  margin: 3rem auto;
  max-width: 90%;
  max-width: 73.75rem;
  height: auto;
  min-height: 28.75rem;
  border-radius: 0.5rem;
  background: #f8f8ff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
  padding-bottom: 2.75rem;
}
#titulo-equipe {
  padding-top: 2.75rem;
  padding-bottom: 1.5rem;
}
#titulo-nossos-profissionais {
  color: #063643;
  padding-left: 5rem;
}

#medicos {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  padding-top: 1rem;
}

.medicos-individual {
  text-align: center;
}

.foto-medico {
  width: 100%;
  max-width: 15rem;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 0.25rem;
  margin: 0 auto;
}

.nome-medico {
  color: #063643;
  font-family: Inter;
  font-weight: 500;
}

.especializacao-medico {
  font-family: Inter;
  color: #063643;
}

@media (max-width: 968px) {
  #nossos-profissionais {
    width: 80%;
  }
  #medicos {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  .foto-medico {
    min-width: 10.375rem;
    min-height: 10.375rem;
  }
}
@media (max-width: 600px) {
  #nossos-profissionais {
    width: 100%;
  }
}
@media (max-width: 450px) {
  #nossos-profissionais {
    box-shadow: none;
    margin-bottom: 0;
  }
  .foto-medico {
    width: 10.375rem;
    height: 10.375rem;
  }
  #titulo-equipe {
    padding-top: 0;
    display: flex;
    justify-content: center;
    background: #e2f5fa;
  }
  #titulo-nossos-profissionais {
    padding: 0;
  }
}
@media (max-width: 350px) {
  #medicos {
    overflow: hidden;
  }
}
