#imagens-footer-mobile {
  display: none;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  margin-top: 3rem;
  width: 100%;
  max-width: 120rem;
  height: 14.5rem;

  border-top: 0.0625rem solid #c7ebfb;
  border-bottom: 0.0625rem solid #c7ebfb;
  background: #f8f8ff;
}

#footer {
  justify-self: center;
  width: 90%;
  height: 14.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}
#footer .container {
  justify-content: center;
}
#footer p {
  display: flex;
  color: #063643;
  text-transform: uppercase;
}

#footer #logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1;
}

#logo-icon-footer {
  width: 5.16463rem;
  height: 4.76175rem;
  flex-shrink: 0;
}

#logo-name-footer {
  width: 7.689rem;
  height: 2.27375rem;
  flex-shrink: 0;
}

.texto-footer {
  display: grid;
  gap: 0.5rem;
}

#footer #texto-footer-01 {
  grid-column: 2;
}

#footer #texto-footer-02 {
  grid-column: 3;
}

#footer #texto-footer-03 {
  grid-column: 4;
}

#footer #imagens-footer {
  display: flex;
  gap: 1.5rem;
}

#frame54 {
  width: 100%;
  max-width: 120rem;
  height: 2.5rem;
  margin: 0 auto;
  padding: 0.8125rem 0 0.5625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #063643;
  color: #ffffff;
}

#frame54 .texto-detalhes {
  display: flex;
  align-items: center;
  color: #daedff;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  footer .container {
    width: 100%;
  }
}

@media (max-width: 728px) {
  #imagens-footer-mobile {
    display: flex;
    justify-content: center;
    margin: 2.19rem auto 2.17rem auto;
    gap: 2.2rem;
  }

  #imagens-footer-mobile img {
    width: 3.95269rem;
    height: 3.95269rem;
    flex-shrink: 0;
  }

  footer {
    max-height: 9rem;
  }

  footer p {
    font-size: 0.75rem;
    text-transform: uppercase;
  }

  #footer {
    height: 9rem;
    grid-template-columns: 1fr 1fr;
  }

  #texto-footer-01 {
    grid-column: 1 !important;
  }

  #texto-footer-02 {
    grid-column: 2 !important;
  }

  #footer #logo,
  #footer #texto-footer-03 {
    display: none;
  }
}

@media (max-width: 450px) {
  footer .container #footer p,
  #frame54 p {
    font-size: 0.75rem;
  }
}
