nav {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  left: 0;
  right: 0;
  height: 7rem;
  border: 1px solid rgba(85, 85, 85, 0.1);
  background: #f8f8ff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  gap: 24.4375rem;
}

#conteudo-header {
  display: grid;
  grid-template-columns: auto auto;
  justify-self: center;
  align-items: center;
  width: 100%;
  max-width: 73.75rem;
  height: 100%;
}
#banner-central .container {
  width: 100%;
}
#logo {
  max-width: 15.625rem;
  height: 4.364rem;
}
#botoes-header {
  display: inline-flex;
  justify-content: end;
  flex-wrap: wrap;
  list-style: none;
  gap: 0.625rem;
  padding: 0rem 0.25rem;
}
@media (max-width: 700px) {
  #logo {
    display: none;
  }
  #conteudo-header {
    max-width: 100%; /* NOVO: faz o container ocupar toda a largura */
    padding: 0 1rem; /* opcional: adiciona espaço nas laterais */
  }
}
.botaoheader {
  text-decoration: none;
  color: #063643;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.botaoheader:hover {
  background: rgba(107, 183, 203, 0.4);
  background-clip: content-box;
  border-radius: 0.625rem;
  background-clip: padding-box;
}
