/* Header fixo no topo da tela */
#header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex; /* Alterado de grid para flex */
  justify-content: space-between; /* Espaçamento igual entre logo e menu */
  align-items: center;
  height: 140px;
  padding: 0 200px; /* Ajuste do espaçamento das laterais */
  border: 1px solid rgba(85, 85, 85, 0.1);
  background: #f8f8ff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
/* Container de conteúdo principal (evita que fique atrás do header) */
.container {
  padding-top: 160px;
  flex: 1;
}

/* Área do logo */
#header1 {
  display: flex;
  align-items: center;
}

#logo {
  width: 250px;
  height: auto;
}

/* Menu de navegação */
#header2 {
  display: flex;
  align-items: center;
  gap: 36px;
}

.botaoinicio {
  text-decoration: none;
  color: #063643;
  font-size: 1.5rem;
  font-weight: 400;
}
