html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
section {
  scroll-margin-top: 150px; /* ajuste esse valor conforme a altura do header */
}
body {
  font-family: Poppins, Open Sans;
  background: #e2f5fa;
}

h1 {
  text-decoration: none;
  display: flex;
  font-family: Poppins;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3 {
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.texto-detalhes {
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bold {
  font-weight: 700;
}

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 120rem;
  height: 100%;
  margin: auto;
}

.botao {
  text-decoration: none;
  display: flex;
  width: 17.6875rem;
  height: 4.5rem;

  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
}
